# Ignore log datasets (training data)
data/*.log
data/normal*.log
data/attack*.log
data/normal_logs/
data/attack_logs/

# Never track large raw logs again
*.log

# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environment
venv/
env/

# Ignore temporary files
*.tmp
*.swp

# Ignore system files
.DS_Store

# Do NOT ignore the ML model directory
# models/